<h1>Login to your Events Around Town profile:.</h1>
<p><%= @error %></p>
<form method="post" action="/login" > 
  <input type="text" name="username" placeholder="Username:">
  <input type="password" name="password" placeholder="Password:">
  <input type="submit" value="Log In">
</form> 