<a href='/users/:id/edit'> Edit Profile </a>
<h1>Welcome to your Profile Page:</h1>

<h3> Username: <%= @user.username%></h3>
<h3> Email Address: <%= @user.email%><br>

<a href='/history'> Search History </a>