<h1>Signup for Events Around Town Here:</h1>
<h2> Please sure to fill in all of the fields below!</h2>
<%= @error %> 
<form method="post" action="/sign-up" > 
  <input type="text" name="username" placeholder="Enter a Username..."><br>
  <input type="password" name="password" placeholder="Enter a Password..."><br>
  <input type="email" name="email" placeholder="Enter your Email Address..."><br>
  <input type="submit" value="Sign Up">
</form> 