<h1> Welcome to Events Around Town!</h1>
<p><%= @error %></p>
<h2> Please enter the name of the city you would like to search below...</h2>
<form method="post" action="/search" > 

<label> City </label>
<input type="text"  value="Enter City Here..." name="city">
<input type="submit" value="Submit" />

</form> 
